<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p> Built with Learn Tech Tips </p>
            <p> Course project for learn adonis from zero to heros: https://adonismastery.com/watch/creating-a-master-layout. </p>
        </div>
    </div>
</footer>