@layout('layouts/app')

@section('content')
    @set('title', 'Introduce')
     
    <h3 style="display: flex; justify-content: center; font-weight: bold; color:brown;">
       Sorry about that. No need to be 
    </h3>

    @include('partials/_notification') 
 
@endsection
